@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.centrar {
    text-align: center;
}

.centrar2{
  align-items: center;
  justify-content: center;
}

.tipo_letra {
    font-family: 'Poppins', sans-serif;
    text-decoration-color: #fff;
}

.tamano_letra {
  font-size: 20px;
}

.tamano_titulo {
  font-size: 35px;
}
.flotar{
    float: left;
}

.bajar{
    margin-top: 75px;
}

.bajar2{
  margin-top: 25px;
}

.tamano{
    height: 500px;
    width: 600px;
}

.contenedor_imagen {
    max-width: 100%; 
}

.contenedor_imagen_img {
    max-width: 100%; 
    height: auto; 
}

.txt_ajus {
  font-size: 2vw; 
}

.menu_nav{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.header::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}

.header:hover::before{
  left: 100%;
}

.logo{
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.navbar a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover{
  color: #f00;
}

#menu-icon{
  font-size: 36px;
  color: #fff;
  display: none;
}

/* BREAKPOINTS */
@media (max-width: 992px){
  .header{
    padding: 1.25rem 4%;
  }
}

@media (max-width: 768px){
  #menu-icon{
    display: block;
  }

  .navbar{
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    padding: .5rem 4%;
    display: none;
  }

  .navbar.active{
    display: block;
  }

  .navbar a{
    display: block;
    margin: 1.5rem 0;
  }

  .nav-bg{
    position: fixed;
    top: 11.8%;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, .1);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    z-index: 99;
  }

  .nav-bg.active{
    display: block;
  }
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
footer{
  background: #111;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  margin-top: auto;
}

.PiePagina{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.PiePagina h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.PiePagina p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.PieCopy{
  background-color: #111;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.PieCopy p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.PieCopy span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

img{
  border-radius: 10px;
  max-width: 100%;
  height: 200px;
  width: 300px;
  padding: 10px;
}

.responsive-img{
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

img:hover{
  cursor: pointer;
  opacity: .5;
  transition: .5s;
}

.card{
  margin: 20px;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  background: var(--i);
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
}

.contenido{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .4);
  opacity: 0;
  transition: .5s;
}

.contenido h2, a{
  color: rgba(255, 255, 255, .8);
  margin: 10px 0;
}

.card:hover .contenido{
  opacity: 1;
}

.tarjeta{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 380px;
  background-color: #fff;
  box-shadow: 0, 15px 45px rgba(0, 0, 0, .25);
  overflow: hidden;
  transition: 0.5s ease-in-out
}

.tarjeta:hover{
  width: 600px;
}

.tarjeta .imgBox{
  position: relative;
  min-height: 300px;
  width: 300px;
  height: 100px;
  display: 
  flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.tarjeta .descripcion{
  position: relative;
  min-width: 300px;
  background: #4ba9e9;
}

